@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.wine-page{
    background-image: url('../images/wine2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.wine-list-button{
    display: block;
    padding: 15px;
    font-size: 18px;
    color: #fff;
    background-color: #ff9800;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.wine-list-button:hover{
    text-decoration: underline;
    font-weight: bold;
    background-color: #e68900;
}

.wine-list{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(255, 255, 255, 0.75);
    border: 10px solid rgba(102, 11, 31, 0.31);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 48%;
    top: 15%;
    right: 10%;
    bottom: 8%;
}
  
.wine-list-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    font-size: 36px;
    width: 100%;
}
  
.wine-list > div{
    position: relative;
    display: flex;
    align-items: center;
    margin: 0px;
    font-size: 36px;
}
  
.wine-list > div > h1{
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 5px;
    margin: 0px;
    font-size: 36px;
}
  
.wine-list > div> img{
    top: 0;
    margin: 0px;
    width: 15%;
}
  
.wine-list-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
    padding: 10px 0px 10px 0px;
    overflow: hidden;
}

.scrollable-box{
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 46%;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
}
  
.sorted-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.wine-list-item{
    padding: 10px 15px;
    margin: 5px 0;
    background-color: #f5f5f5;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

.wine-list-item:hover{
    font-weight: bold; 
    background-color: #ff9800;
    color: #fff;
    transform: translateY(-2px);
}

.wine-list-item::before {
    content: "\1F377"; /*Unicode for a glass of wine emoji */
    margin-right: 10px;
    font-size: 20px;
}

.display-wine {
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    width: 50%;
    overflow: auto;
}

.display-wine > div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
  
.display-wine > div > h1 {
    margin: 0px;
    max-height: 25%;
    width: 100%;
    font-size: 35px;
    flex-shrink: 1;
    text-overflow: ellipsis;
    white-space: normal;
    text-align: center;
}
  
.wine-info {
    height: 100%;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 25px;
    padding: 10px;
    box-sizing: border-box;
    word-wrap: break-word; /* Break long words */
    text-align: left;
}
  
.wine-info > p {
    margin: 0px;
    font-size: 18px;
}
  
.wine-info-header {
    margin: 0px;
    font-size: 24px;
}
 
.search-and-filter{
    display: flex;
    flex-direction: row;
    padding: 10px 0px 10px 0px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0px 10px;
    width: 45%;
}

.search-bar {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 16px;
}

.search-bar::placeholder {
    color: #ccc;
}

.search-button i {
    font-size: 24px;
}

.search-button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    color: #333;
    padding: 10px;
    margin-left: 5px;
}

.no-matches-message{
    list-style: none;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    color: #ff9800;
}

.search-back-button{
    background-color: #ff9800;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.search-back-button:hover {
    background-color: #e68900;
}

.comment-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    left: 5%;
    position: relative;
    margin-top: 5%;
margin-bottom: 5%;
}

.comment-bar {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 16px;
}

.comment-bar::placeholder {
    color: #ccc;
}

.comment-button i {
    font-size: 24px;
}

.comment-button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    color: #333;
    padding: 10px;
    padding-right: 15px;
    margin-left: 5px;
}

.wine-footer {
    background-color: rgba(102, 11, 31, 0.75);
    width: 100%;
    padding: 0;
    text-align: center;
    text-decoration-color: white;
    bottom: 0;
    position: absolute;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

/* Media Queries */
@media (max-width: 480px) {
    .wine-page {
        height: auto; /* Maintain height auto */
        padding: 10px; /* Adjust padding for mobile screens */
    }
}

@media (max-width: 768px) {
  .wine-page {
      height: auto; /* Maintain height auto */
      padding: 15px; /* Adjust padding for smaller screens */
  }
}

@media (max-width: 1024px) {
  .wine-page {
      height: auto; /* Maintain height auto */
      padding: 20px;
  }
}

@media (max-width: 1200px) {
  .wine-page {
      height: 850px; /* Change height to auto for smaller screens */
  }
  .wine-list{
      height: 700px;
      width: 70%;
      right: 3%;
  }
}

@media (min-width: 1200px){
  .wine-list {
      height: 700px;
      width: 60%; /* Adjust width for smaller screens */
      right: 5%;
  }
  .wine-page {
      height: 950px; /* Change height to auto for smaller screens */
  }
}

@media (min-width: 1440px){
    .wine-list {
        height: 800px;
        width: 60%; /* Adjust width for smaller screens */
        right: 5%;
    }
    .wine-page {
        height: 1250px; /* Change height to auto for smaller screens */
    }
}